# files
*.pdf
Reconstruction_Parameters_*
*.zip
*.o

read_lm/process_lm_sino_explorer_singlefile_release
read_lm/lut/block_sino_f0_scatters*
read_lm/lut/roi_mask_256x256x830.img

# folders 
dir_temp/
motion_detect_server/
nema/
reconstruction/correction_sino/*
read_lm/lut/block_sino_f0_scatters*
reconstruction/normalization/20200101/
read_lm/generate_lm_attn_fp_exp/lm_attn_fp_exp/*
read_lm/generate_lm_attn_fp_exp/cfg_attn_fp_exp/*
